*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
}
nav .logo{
    width: 139px;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .btn{
    margin-right: 120px;
    border: none;
    border-radius: 4px;
    width: 144px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: 600;
}
/* design hero container */
#hero{
    display: flex;
    max-width:1600px;
    height: 674px;
    margin: 0 auto;
    background: url("assets/hero-bg.png");
}
#hero .hero-container{
    margin: 0 auto;
    width: 1360px;
    height: 380px;
    margin: 115px 120px 179px;
}
#hero .intro{
    display: flex;
    gap: 6px;
    background-color: #FFFFFF;
    width: 229px;
    height: 36px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    padding: 8px 12px;
}
#hero .intro .status-icon{
    display: flex;
    align-items: center;
    justify-content: center;

}
#hero .intro h5{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
}
.hero-container h1{
    max-width: 770px;
    height:168px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    margin: 52px 295px 76px;
    text-align: center;
}
.text-style{
    color: #469165;
}
.hero-container p{ 
    display: flex;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;

}
.hero-container .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}
.hero-container .btn-container .btn-1{
    width: 251px;
    height: 52px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 16px 16px;
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
}
.hero-container .btn-container .btn-2{
    width: 198px;
    height: 44px;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 12px 16px;
}
#content{
    max-width: 1600px;
    height: 448px;
    margin: 0 auto;
    background-color: #FFFFFF;
    margin: 0 auto;
}
#content .content-heading{
    max-width: 1360px;
    height: 153px;
    margin: 0 auto;

}
.content-heading h1{
    display: flex;
    height: 117px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.content-heading p{
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 20px;
}
.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 44px;
}
.card-container .card-info{
    width: 322px;
    height: 300px;
    padding: 24px;
}
.card-container .card-icon{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #FFFFFF;
}
.card-container .card-info h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.card-container .card-info p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    text-align:center;
}