*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
body{
    background-color:antiquewhite;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: white;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
}
nav .logo{
    width: 139px;
    height: 60px;
    /* border: 2px solid red; */
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .btn{
    margin-right: 120px;
    border: none;
    border-radius: 4px;
    width: 144px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: 600;
}
