*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
/* Navigation */
nav{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 92px;
    margin: 0 auto;
}
nav .logo{
    width: 139px;
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
}
nav .btn{
    margin-right: 120px;
    border: none;
    border-radius: 4px;
    width: 144px;
    height: 44px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: #469165;
    padding: 12px 16px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
nav .btn:hover{
    background-color: #B6F500;
    transition: 0.5s;
}
nav li a:hover{
    color: #F95555;
    transition: 0.5s;
}

/* design hero container */
#hero{
    max-width: 1600px;
    width: 100%;
    height: 674px;
    background: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.hero-container{
    width: 1360px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.hero-status{
    display: flex;
    gap: 6px;
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    color: #469165;
    border-radius: 1000px;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.hero-status span{
    display: flex;
    align-items: center;
    margin-right: 6px;
}

.hero-heading h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    width: 770px;
    margin-bottom: 16px;
}
.hero-heading h1 span{
    color: #469165;
}
.hero-heading p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 32px;
}
.btn-item{
    display: flex;
    gap: 16px;
}
.btn-item .btn-1{
    width: 251px;
    height: 52px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #469165;
    font-size:16px;
    font-weight: 600;
}
.btn-item .btn-1:hover{
    background-color: #B6F500;
    transition: 0.5s;
}
.btn-item .btn-2{
    display: flex;
    align-items: center;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 4px;
    width: 158px;
    height: 52px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}
.btn-item .btn-2:hover{
    color: #F95555;
    transition: 0.5s;
    transform: scale(1.1);
}
/* Content Section */
#content{
    max-width: 1600px;
    height: 448px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
#content .content-heading{
    max-width: 1360px;
    height: 153px;
    margin: 0 auto;

}
.content-heading h1{
    display: flex;
    height: 117px;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.content-heading p{
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 20px;
}
.card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 44px;
}
.card-container .card-info{
    width: 322px;
    height: 300px;
    padding: 24px;
}
.card-container .card-icon{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #FFFFFF;
}
.card-container .card-info h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
.card-container .card-info p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    text-align:center;
}
/* Solution Section */
#solution .solution-container{
    display: flex;
    gap: 60px;
    max-width: 1600px;
    height: 840px;
    margin: 0 auto;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center ;
}
.solution-container .solution-item2{
    width: 700px;
    height: 397px;
}
.solution-container .solution-item2 h4{
    color: #469165;
    margin-bottom: 16px;
    line-height: 20px;
    font-weight: 500;
}
.solution-container .solution-item2 h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}
.solution-container .solution-item2 p{
    color: #627382;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}
.solution-container ul{
    list-style: none;
    font-weight: 500;
    line-height: 20px;
}
.solution-container ul li{
    display: flex;
    gap: 6px;
    align-items: center;
}
/* Access Section */
#early-acceess{
    max-width: 1600px;
    height: 507px;
    background-color: #FFFFFF;
    margin: 0 auto;
}
#early-acceess .access-container{
    width: 1360px;
    height: 385px;
    margin: 0 auto;
    padding-top: 80px;
}
.access-container .access-heading{
    width: 1280px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}
.access-container .access-heading h1{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
}
.access-container .access-heading p{
    font-weight: 400;
    color: #627382;
    line-height: 24px;
}
.access-container .access-btn{
    text-align: center;
}
.access-btn button{
    width: 194px;
    height: 52px;
    background-color: #469165;
    border:none;
    border-radius: 4px;
    padding: 16.5px 16px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
}
.access-btn button:hover{
    background-color: #B6F500;
    transition: 0.5s;
}
.access-btn p{
    margin-top: 16px;
    color: #627382;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
}
footer{
    height: 348px;
    margin: 0 auto;
    background-color: #001931;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding:120px 120px 80px;
}
.footer-container .footer-social h3{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
}
.footer-container .footer-social ul{
    display: flex;
    gap: 16px;
    list-style: none;
}
.copy-right{
    width: 1360px;
    height: 24px;
    margin: 0 auto ;
    text-align: center;
}
.copy-right hr{
    color: #FAFAFA;
    opacity: 0.2;
    margin-bottom: 30px;
}
.copy-right p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}